# Project exclude paths
/.architectury-transformer/
/.gradle/
/build/
/common/.gradle/
/common/build/
/common/run/
/fabric/.gradle/
/fabric/build/
/fabric/run*/
/forge/.gradle/
/forge/build/
/forge/run*/
/neoforge/.gradle/
/neoforge/build/
/neoforge/run*/
# idea
out
*.ipr
*.iws
*.iml
.idea/*
!/.idea/scopes
!/.idea/checkstyle
!/.idea/codeStyles
!/.idea/fileColors.xml
!/.idea/checkstyle-idea.xml
!/.idea/icon.svg
# gradle
build
libs
.gradle
# other
run
runs
!/.idea/shelf/
/dist/
/update-seasonhud-deps.ps1